<div
  class='flex flex-col-reverse gap-10 place-content-center lg:flex-none lg:grid lg:gap-0 lg:grid-rows-none lg:grid-cols-2 lg:max-h-[calc(100vh-5rem)]'
>
  <div class='flex flex-col gap-10 justify-between h-full'>
    <div class='px-3 md:px-5 lg:px-10 mt-auto'>
      <h1 class='text-5xl lg:text-6xl xl:text-7xl uppercase font-bold'>
        Joaquín Arias, <span class='block'> Web Developer</span>
      </h1>
      <div class='text-xl md:text-2xl mt-10 pl-3'>
        <p>En la constante búsqueda de qué mejorar.</p>
        <p>
          Especializado en frontend con fuertes conocimientos en backend y bases
          de datos.
        </p>
      </div>
    </div>
    <div
      class='mt-auto group border-t-2 border-b-2 border-black bg-purple-300 hover:bg-purple-400'
    >
      <a
        class='flex items-center justify-center gap-2 py-5 px-10 text-2xl text-center cursor-pointer transition-all group-hover:scale-105'
        >TRABAJEMOS JUNTOS <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-8 h-8'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
          ></path>
        </svg>
      </a>
    </div>
  </div>

  <div class='h-full lg:border-l-2 border-b-2 border-black'>
    <img
      src='https://images.unsplash.com/photo-1546820389-44d77e1f3b31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'
      class='w-full max-h-[15rem] lg:max-h-[45rem] object-cover'
      loading='lazy'
    />
  </div>
</div>
