---
import IconArrowLeft from './icons/IconArrowLeft.astro';
---

<div
  class='flex flex-col-reverse gap-10 place-content-center lg:flex-none lg:grid lg:gap-0 lg:grid-rows-none lg:grid-cols-2 lg:max-h-[calc(100vh-5rem)]'
>
  <div class='flex flex-col gap-10 justify-between h-full'>
    <div class='px-3 md:px-5 lg:px-10 mt-auto'>
      <h1
        class='text-3xl md:text-4xl xl:text-5xl uppercase font-bold xl:leading-[1.2]'
      >
        Joaquín Arias, Web Developer ejem ejem Lorem ipsum dolor sit.
      </h1>
      <div class='text-xl md:text-2xl mt-10'>
        <p>En la constante búsqueda de qué mejorar.</p>
        <p>
          Especializado en frontend con fuertes conocimientos en backend y bases
          de datos.
        </p>
      </div>
    </div>
    <div
      class='mt-auto group border-t-2 border-b-2 border-black bg-purple-300 hover:bg-purple-400'
    >
      <a
        class='flex items-center justify-center gap-2 py-5 px-10 text-2xl text-center cursor-pointer transition-all group-hover:scale-105'
        >TRABAJEMOS JUNTOS <IconArrowLeft />
      </a>
    </div>
  </div>

  <div class='h-full lg:border-l-2 border-b-2 border-black'>
    <img
      src='https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=699&q=80'
      class='w-full max-h-[15rem] lg:max-h-[45rem] object-cover aspect-square'
      loading='lazy'
    />
  </div>
</div>
